@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;	
}

.main_header {
	background: #007765;
	position: fixed;
	height: 50px;
	top: 0;
	width: 100%;
}

.help img {
	width: 120px;
	float: left;
	margin-left: 230px;
	margin-top: 11px;
}

.main_header a {
	display: inline-block;
	color: #FFFFFF;
	text-decoration: none;
	background: #007765;
	padding-right: 5px;
	padding-left: 5px;
}

.main_header a:hover {
	background: #8fd9c8;
	color: #016951;
}

.piper_net_heading {
	background-image: url('../image-8.png');
	background-size: cover;
	text-align: center;
	line-height: 350px;	
	margin-top: 50px;
	font-family: Roboto;
	font-style: noraml;
	font-size: 36px;
	color: #FFFFFF;
	width: 100%	
}


.help {
	color: #FFFFFF;
	text-align: right;
	line-height: 50px;
	font-family: Roboto;
	font-size: 16px;
	height: 50px;
	margin-right: 200px;
}

.mid_titles {
	color: #007765;
	margin: 35px;
	font-size: 56px;
	text-align: center;
	font-family: Roboto;
}

.article_text {
	width: 70%;
	font-family: Roboto;
	font-size: 28px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.hero {
	background: url('../image-1.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 483px;
	width: 100%;
	margin-top: 100px;
}

.hero h1 {
	color: #FFFFFF;
	width: 50%;
	font-family: Roboto;
	font-style: italic;
	font-size: 42px;
	text-align: center;
	margin: auto;
	padding-top: 150px;
	
}

.anchor {
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.coin img {
	float: left;
	width: 110px;
	margin-left: 220px;
	margin-right: 30px;
}

.team {
	background: #EEEEEE;
	margin-top: 50px;
	padding-top: 40px;
	padding-bottom: 120px;
}

.frow, .srow, .frow figcaption, .frow h6, .srow figcaption, .srow h6 {
	display: flex;
	justify-content: center;
}

.frow img {
	margin-left: 110px;
	margin-right: 110px;
	margin-top: 40px;
}

.frow figcaption, .srow figcaption {
	color: #007765;
	font-family: Roboto;
	font-style: normal;
	font-size: 24px;
	margin-top: 5px;
}

.frow h6, .srow h6 {
	margin-top: 5px;
	font-family: Roboto;
	font-style: italic;
	font-size: 16px;
}

.srow img {
	margin-left: 110px;
	margin-right: 110px;
	margin-top: 130px;	
}

.bot {
	background: #333333;
}

.bot p {
	color: #FFFFFF;
	width: 35%;
	text-align: center;
	font-family: Roboto;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 65px;
	padding-bottom: 65px;
}